div{
    width: 100%;
    height: 200px;
    border: 5px solid red;  
}


.div1{
      
     background-color: green;
}
.div2{
     
    background-color: blue; 
}
.div3{
     
    background-color: yellow;
     
}
 img{
    height: 200px;
    width: 25%;
 }
 @media screen and (max-width: 500px) {
    .div1{
      
        background-color: blue;
        
   }
   .div2{
        
       background-color: green; 
   }
   .div3{
        
       background-color: yellow;
        
   }
    
 }