@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 50px;
}
section{
    position: relative;
    min-height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    color: #fff;
    font-size: 5em;
    cursor: default;
}
.light{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95) 20%);
}