table{
    border-collapse: collapse;
    width:100%
}
th,td{
    padding: 8px;
}
th{
    background-color: orange;
}
tr:nth-child(even){
    background-color: pink;
}
th:hover,tr:hover{
    background-color: green;
}