body{
    background-color: orange;
}
.road{
    border-bottom: 7px dashed black;
}
.panda{
    background: url(https://deepakdhingan.wordpress.com/wp-content/uploads/2020/09/panda_colour.png);
    width: 250px;
    height: 330px;
    animation: walk 1s steps(12) infinite,
            forward 5s linear infinite;
}
@keyframes walk{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 3000px;
    }
}
@keyframes forward{
    0%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(1300px);
    }
}