.p1{
    height: 100px;
     width: 100%;
     border: 3px solid red;
}
.p2{
    margin-top: 10%;
    padding:2%;
    width: 100%;
    height: 100px;
    border-top:3px;
    border-top-style: dashed;
    border-top-color: green;
    border-bottom:10px;
    border-bottom-color: yellow;
    border-bottom-style: dotted;
    border-left-style:inset ;
    border-left-color: brown;
    border-right-style: outset;
    border-right-color:aqua ;
}