@keyframes rote {
    0%{transform: rotate(0deg);background-color: red;position:absolute;left:0px;} 
    10%{transform: rotate(36deg);background-color: green;position:absolute;left:100px;} 
    20%{transform: rotate(72deg);background-color: yellow;position:absolute;left:200px;} 
    30%{transform: rotate(108deg);background-color: orange;position:absolute;left:300px;}  
    40%{transform: rotate(144deg);background-color: aqua;position:absolute;left:400px;} 
    50%{transform: rotate(180deg);background-color: white;position:absolute;left:500px;}
    60%{transform: rotate(216deg);background-color: brown;position:absolute;left:600px;}  
    70%{transform: rotate(252deg);background-color: violet;position:absolute;left:700px;} 
    80%{transform: rotate(288deg);background-color: pink;position:absolute;left:800px;} 
    90%{transform: rotate(324deg);background-color: skyblue;position:absolute;left:900px;} 
    100%{transform: rotate(360deg);background-color: blue;position:absolute;left:1000px;} 
}
.p1{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 110px;
    text-align: center;
    top:25%;
    
  
    animation-timing-function:step-start;
    animation-name: rote;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count:infinite;
}
 