*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Inter",sans-serif;
}
.card-container{
    display: grid;
    grid-template-areas: "a big big big main main main"
                         "b big big big main main main"
                         "c big big big main main main";
    grid-template-columns: repeat(7,160px);
    grid-template-rows: repeat(3,160px);
    gap: 30px;
}
img:nth-child(1){
    grid-area: a;
}
img:nth-child(2){
    grid-area: b;
}
img:nth-child(3){
    grid-area: c;
}
img:nth-child(4){
    grid-area: big;
}
img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 1px solid #dfe4ea;
    background-color: #f7f8fa;
}
.block{
    background-color: #fff;
    grid-area: main;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
h1{
    font: 600 40px "Inter",sans-serif;
    color: #111928;
}
.reviews{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
@media screen and (max-width:1300px){
    body{
        align-items: start;
    }
    .card-container{
        display: grid;
        grid-template-areas: "a b c"
                             "big big big"
                             "main main main";
        grid-template-columns: repeat(3,160px);
        grid-template-rows: repeat(3,160px);
    }
}
@media screen and (max-width:600px){
    .card-container{
        display: grid;
        grid-template-areas: "a b"
                             "c big"
                             "main main";
        grid-template-columns: repeat(2,150px);
        grid-template-rows: repeat(4,150px);
    }
}