img{
    height:100%;
    width: 100%;
}
@media screen and (max-width:500px)
{
    img{
        height:50%;
        width: 50%;      
    }
     
}
@media screen and (max-width:200px)
{
    img{
        display: none;
    }
}