nav{
    background: rgba(0,0,0,0.6);
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px;
    left: 0;
    right: 0;
    padding: 10px 90px;
    position: fixed;
    font-size: 40px;
    color: aliceblue;
}
body{
    background:url(1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
div{
    font-size: 25px;
    color:darkgreen;
    font-weight: bold;
    text-transform: capitalize;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 50%;
    text-align: center;
    left: 25%;
}
b{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  text-align: center;
  color: brown;
}
a{
    font-size: 15px;
}
a:hover{
  color: chartreuse;
  font-size: 20px;
}