nav{
    background: rgba(0,0,0,0.6);
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px;
    left: 0;
    right: 0;
    padding: 10px 90px;
    position: fixed;
    font-size: 40px;
    color: aliceblue;
}
body{
    background: url(flight\ contact.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
div{
    position: fixed;
    bottom: 18%;
    font-size: 20px;
    left: 11%;
}
b{
    font-size: 30px;
    color: solid black;
    left: 10%;
    position: fixed;
    top: 67%;
}