nav{
    background: rgba(0, 0, 0, 0.6);
    height: 100px;
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-bottom: 1px;
    padding: 10px 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color:#fff;
    position: fixed;
}
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background: url(Ap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p{
    font-size: 30px;
    color: red;
    font-weight: bold;
    position: fixed;
    top: 20%;
    left: 70%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.d{
    font-size: 20px;
    color: #fff;
    font-family:serif;
    font-weight: lighter;
    top: 38%;
    left: 60%;
    text-align: center;
    position: fixed;
}
.i{
    font-size: 30px;
    font-weight: bold;
    color: blanchedalmond;
    left: 5%;
    top: 20%;
    position: fixed;
    font-family:monospace;
    text-align: center;
}
ul li a{
    font-size: 15px;
}
ul li a:hover{
    color:cadetblue;
}
.r{
    list-style: none;
    font-size: 20px;
    color:darkslateblue;
}
.r:hover{
       color: aquamarine;
}