body{
    background-image: url(airport.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    width:40%;
    top:50%;
    left:50%;
    background:rgba(0,0,0,0.6);
    transform:translate(-25%,-50%);
    position: absolute;
    color: #fff;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}
 